[project]
name = "dataeng"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "duckdb>=1.4.3",
    "pandas>=3.0.0",
    "pyarrow>=23.0.0",
]

[dependency-groups]
dev = [
    "jupyter>=1.1.1",
]
